# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Configuración de entornos virtuales y dependencias
venv/
myenv/
.env

# Configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de configuración sensibles
# Ignoramos config.json solo si contiene información sensible, si no, puedes eliminar esta línea
# config.json

# Resultados de análisis y reportes generados (permite la carpeta reports pero no los archivos temporales)
# Elimina la línea `reports/` para subir la carpeta reports completa
reports/*.json

# Ignora archivos de contratos específicos si son temporales o puedes subir ejemplos necesarios
tests/contracts/*.sol

# Archivos de Jupyter (si los usas en el proyecto puedes eliminarlos)
.ipynb_checkpoints

# Otros archivos innecesarios
*.DS_Store
*.egg
*.egg-info/
dist/
build/
*.spec
