# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Configuración de entornos virtuales y dependencias
venv/
myenv/
.env

# Configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de configuración sensibles
# Ignoramos config.json solo si contiene información sensible, si no, puedes eliminar esta línea
config.json

# Archivos de Jupyter (si los usas en el proyecto puedes eliminarlos)
.ipynb_checkpoints

# Otros archivos innecesarios
*.DS_Store
*.egg
*.egg-info/
dist/
build/
*.spec


